.border-rounded {
    border-radius: 5px;
}

.border-rounded-bold {
    border-radius: 25px;
}

.border-dotted {
    border: dotted $apollo-color-main 2px;
}

.border-dashed {
    border: dashed $apollo-color-main 2px;
}

.border-solid {
    border: solid $apollo-color-main 2px;
}


.border-double {
    border: double $apollo-color-main 4px;
}

.border-groove {
    border: groove $apollo-color-main 4px;
}

.border-ridge {
    border: ridge $apollo-color-main 4px;
}

.border-inset {
    border: inset $apollo-color-main 4px;
}

.border-outset {
    border: outset $apollo-color-main 4px;
}

.border-none {
    border-style: none !important;
}

.border-hidden {
    border-style: hidden !important;
}
