.border-rounded {
    border-radius: 5px;
}

.border-rounded-bold {
    border-radius: 25px;
}

.border-dotted {
    border: dotted black 2px;
}

.border-dashed {
    border: dashed black 2px;
}

.border-solid {
    border: solid black 2px;
}


.border-double {
    border-style: double black 2px;
}

.border-groove {
    border: groove black 2px;
}

.border-ridge {
    border: ridge black 2px;
}

.border-inset {
    border: inset black 2px;
}

.border-outset {
    border: outset black 2px;
}

.border-none {
    border-style: none;
}

.border-hidden {
    border-style: hidden;
}
