.break-h-5 {
  height: 5px;
  width: 100%;
}

.break-h-10 {
  height: 10px;
  width: 100%;
}

.break-h-15 {
  height: 15px;
  width: 100%;
}

.break-h-20 {
  height: 20px;
  width: 100%;
}

.break-h-25 {
  height: 25px;
  width: 100%;
}

.break-h-30 {
  height: 30px;
  width: 100%;
}

.break-h-35 {
  height: 35px;
  width: 100%;
}

.break-h-40 {
  height: 40px;
  width: 100%;
}

.break-h-45 {
  height: 45px;
  width: 100%;
}

.break-h-50 {
  height: 50px;
  width: 100%;
}

.break-v-5 {
  width: 5px;
  height: inherit;
}

.break-v-10 {
  width: 10px;
  height: inherit;
}

.break-v-15 {
  width: 15px;
  height: inherit;
}

.break-v-20 {
  width: 20px;
  height: inherit;
}

.break-v-25 {
  width: 25px;
  height: inherit;
}

.break-v-30 {
  width: 30px;
  height: inherit;
}

.break-v-35 {
  width: 35px;
  height: inherit;
}

.break-v-40 {
  width: 40px;
  height: inherit;
}

.break-v-45 {
  width: 45px;
  height: inherit;
}

.break-v-50 {
  width: 50px;
  height: inherit;
}
