.bg-succes {
  background-color: $apollo-color-succes !important;
}

.bg-error {
  background-color: $apollo-color-error !important;
}

.bg-warning {
  background-color: $apollo-color-warning !important;
}

.bg-info {
  background-color: $apollo-color-info !important;
}

.bg-none {
  background-color: 0 !important;
}

.bg-color-main {
  background-color: $apollo-color-main !important;
}

.bg-color-accent {
  background-color: $apollo-color-accent !important;
}



.text-succes {
  color: $apollo-color-succes !important;
}

.text-error {
  color: $apollo-color-error !important;
}

.text-warning {
  color: $apollo-color-warning !important;
}

.text-info {
  color: $apollo-color-info !important;
}

.text-color-main {
  color: $apollo-color-main !important;
}

.text-color-accent {
  color: $apollo-color-accent !important;
}



.border-succes {
  border: 2px solid $apollo-color-succes !important;
}

.border-error {
  border: 2px solid $apollo-color-error !important;
}

.border-warning {
  border: 2px solid $apollo-color-warning !important;
}

.border-info {
  border: 2px solid $apollo-color-info !important;
}

.border-none {
  border: 0 !important;
}

.border-color-main {
  border: 2px solid $apollo-color-main !important;
}

.border-color-accent {
  border: 2px solid $apollo-color-accent !important;
}
