@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-50 {
  animation: fadeIn ease .5s;
}

.fade-100 {
  animation: fadeIn ease 1s;
}

.fade-150 {
  animation: fadeIn ease 1.5s;
}

.fade-200 {
  animation: fadeIn ease 2s;
}

.fade-250 {
  animation: fadeIn ease 2.5s;
}

.fade-300 {
  animation: fadeIn ease 3s;
}
