body {
  max-width: 100vw;
  background-color: $apollo-color-grey;
  // background-image: url('../images/background.jpg');
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

// FIXME: Okay this can be done better i know....
@media (max-width: $apollo-breakpoint-sm) {
  body {
    background-image: 0;
  }
}
