.badge {
  display: inline;
  text-align: center;

  background-color: $apollo-color-accent;
  color: $apollo-color-white;

  font-size: $apollo-font-size-small;
  line-height: $apollo-font-size-small;

  padding: {
    top: 2px;
    bottom: 2px;
    left: 7px;
    right: 7px;
  }

  &.pill {
    border-radius: 90px;
  }
}
