.card {
  background-color: $apollo-color-main;
  color: $apollo-color-black;

  border-radius: 5px;

  overflow: hidden;

  div {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
}

// HACK: Super hacky or nah?
@media (max-width: $apollo-breakpoint-sm) {
  .card {
    div {
      width: 100%;
      height: 50%;
    }
  }
}

@media (max-width: $apollo-breakpoint-md) {
  .card {
    div {
      width: 100%;
      height: 50%;
    }
  }
}

@media (max-width: $apollo-breakpoint-lg) {
  .card {
    div {
      width: 100%;
      height: 50%;
    }
  }
}

@media (max-width: $apollo-breakpoint-xl) {
  .card {
    div {
      width: 100%;
      height: 50%;
    }
  }
}
