.card {
  @include flex-row;
  background-color: $apollo-color-main;
  color: $apollo-color-black;

  border-radius: 5px;

  overflow: hidden;

  .half {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
}

// HACK: Super hacky or nah?
@media (max-width: $apollo-breakpoint-sm) {
  .card {
    &.break-sm {
      flex-direction: column;

      .half {
        width: 100%;
        height: 50%;
      }
    }
  }
}

@media (max-width: $apollo-breakpoint-md) {
  .card {
    &.break-md {
      flex-direction: column;

      .half {
        width: 100%;
        height: 50%;
      }
    }
  }
}

@media (max-width: $apollo-breakpoint-lg) {
  .card {
    &.break-lg {
      flex-direction: column;

      .half {
        width: 100%;
        height: 50%;
      }
    }
  }
}

@media (max-width: $apollo-breakpoint-xl) {
  .card {
    &.break-xl {
      flex-direction: column;

      .half {
        width: 100%;
        height: 50%;
      }
    }
  }
}
