h1 {
  font: {
    family: $apollo-font-title;
    size: $apollo-font-size-xxxl;
  }
  line-height: 1.3;
}

h2 {
  font: {
    family: $apollo-font-heading;
    size: $apollo-font-size-xxxl;
  }
  line-height: 1.3;
}

h3 {
  font: {
    family: $apollo-font-heading;
    size: $apollo-font-size-xxl;
  }
  line-height: 1.3;
}

h4 {
  font: {
    family: $apollo-font-heading;
    size: $apollo-font-size-xl;
  }
  line-height: 1.3;
}

h5 {
  font: {
    family: $apollo-font-heading;
    size: $apollo-font-size-large;
  }
  line-height: 1.3;
}

p {
  font: {
    family: $apollo-font-body;
    size: $apollo-font-size-regular;
  }
  line-height: 1.2;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.vertical {
    writing-mode: vertical-rl;
}

.font-xxxl {
  font-size: $apollo-font-size-xxxl;
}

.font-xxl {
  font-size: $apollo-font-size-xxl;
}

.font-xl {
  font-size: $apollo-font-size-xl;
}

.font-large {
  font-size: $apollo-font-size-large;
}

.font-regular {
  font-size: $apollo-font-size-regular;
}

.font-small {
  font-size: $apollo-font-size-small;
}

.font-xs {
  font-size: $apollo-font-size-xs;
}

.text-light {
  color: $apollo-color-white;
}

.text-dark {
  color: $apollo-color-black;
}

body {
  font-size: $apollo-font-size-regular;
}
